.container {
    margin: 2% 20%;
    margin-top: 100px; 
    width: 50%;
    display: flex;
    align-items: center;
    gap: 30px;
    background:white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

/* css pra foto 
*/
.foto img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

/* css do formulário 
*/
form {
    width: 50%;
    position: relative;
    z-index: 2;
}
input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background:#007bff;
    color:white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background:#0056b3;
}

/* css pro telefone */

.iti {
    width: 100%;
}

.telefone {
    width: 100%;
}


/* --- REGRAS EXCLUSIVAS PARA CELULAR (Telas até 768px) --- */
@media (max-width: 1280px) {

    .foto {
        display: none;
    }

    form {
        width: 100%;
    }



}