body {
    margin: 0;
    font-family: creato display, Arial, Helvetica, sans-serif;
}

p {
    font-size: larger;
}

h3 {
    font-size: x-large;
    font-family: abril fatface, creato display, Arial, Helvetica, sans-serif;
}

main {
    margin-top: 50px;
    min-height: 33vw; 
}

section {
    margin: 40px 80px;
}

