/* #carrossel {
    background-color: black;
    
    margin-bottom: 50px;
    
} */

.carrossel {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.6);
}

.carrossel-content {
    width: 400%;
    height: 600px;
    display: flex;
}

input, .imagem-mobile { /* serve para esconder o radio e a imagem mobile na versao desktop */
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
    height: 100%;
}

.nav-manual {
    position: absolute; /* faz com que a posição fique limitada a position relative da slide-box */
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn {
    border: 1px solid #ffffff;
    width: 15px;  
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box; /* garante que a borda não altere o tamanho */
    cursor: pointer; /* quando o usuário passar o mouse por cima das bolinhas vira o dedinho de clicar */
    transition: 0.2s ease-in-out; /* animação bonitinha pra quando o usuário passar o mouse */
}

/* a classe NOT exclui o elemento desejado das configurações que serão feitas. nesse caso, excluímos a última bolinha pq senão ela ia ficar descentralizada */
.manual-btn:not(:last-child) { 
    margin-right: 10px;
}

.nav-manual .manual-btn:hover { /* o hover é pra quando o usuário passar o mouse por cima */
    background-color: #fbfbfc;
    size: scale(1.1);
}

#radio1:checked ~ .carrossel-content .primeiro {
    margin-left: 0%;
}
#radio2:checked ~ .carrossel-content .primeiro {
    margin-left: -25%;
}
#radio3:checked ~ .carrossel-content .primeiro {
    margin-left: -50%;
}

#radio1:checked ~ .nav-manual [for="radio1"],
#radio2:checked ~ .nav-manual [for="radio2"],
#radio3:checked ~ .nav-manual [for="radio3"] {
    background-color: #ffffff;
}