main {
    width: 100%;
        margin: 150px 10px;
    box-sizing: border-box; 
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}

article {
    background: #fff;
    margin: 10px 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 200px;   /* Permite crescer, encolher e define base de 200px */
    max-width: 350px;
    transition: transform 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os filhos horizontalmente */
    width: 100%;
}

#graficos-secundarios {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    overflow-x: auto;  /* Cria barra de rolagem se faltar espaço na tela */
}

#grafico-principal {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 30px auto; /* O 'auto' nas laterais garante a centralização */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}