body {
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(78, 146, 185, 0.8);
    /* background-image: url(../img/fundo_ondinhas.svg); */
    padding: 10px;
}

nav {
    font-size: x-large;    
}


main {
    margin: 20px;
}

footer {
    margin: 10px 0 0 0;
    padding: 0 30px;
    text-align: end;
}

section {
    padding: 10px 40px;
    text-align: justify;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 20px;
} 

h1 {
    margin: 0 10px;
    font-size: 0;
}

p {
    font-size: large;
}

li {
    padding: 10px;
    list-style: none;
}

.navbar {
    display: flex;
}

.link {
    text-decoration: none;
}

#logo {
    margin: 20px -15px 20px 10px;
    width: 150px;
    max-height: 70px;
}

#logotipo {
    margin: 0px 0px 12px 0px;
    padding-bottom: 30px;
    max-width: 130px;
    max-height: 70px;
}

/* #carrossel {
    background-color: black;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
} */

section.carrossel {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important; /*  regra utilizada para adicionar importância a uma propriedade/valor */
    overflow: hidden;
    position: relative;
}

.carrossel-content {
    width: 300%;
    height: auto;
    display: flex;
}

.carrossel-content input, .imagem-mobile { /* serve para esconder o radio e a imagem mobile na versao desktop */
    display: none;
}

.slide-box {
    width: 33.333%;
    height: auto;
    position: relative;
    text-align: center;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute; /* faz com que a posição fique limitada a position relative da slide-box */
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #1ba3ec;
    width: 12px;  
    height: 12px;
    border-radius: 50%;
    box-sizing: border-box; /* garante que a borda não altere o tamanho */
    cursor: pointer; /* quando o usuário passar o mouse por cima das bolinhas vira o dedinho de clicar */
    transition: 0.2s; /* animação bonitinha pra quando o usuário passar o mouse */
}

/* a classe NOT exclui o elemento desejado das configurações que serão feitas. nesse caso, excluímos a última bolinha pq senão ela ia ficar
descentralizada */
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) { 
    margin-right: 10px;
}

.nav-manual .manual-btn:hover { /* o hover é pra quando o usuário passar o mouse por cima */
    background-color: #1ba3ec;
}

/* faz com que quando os botões forem apertados, mude de cor */
#botao1:checked ~ .nav-auto .auto-btn1, #botao2:checked ~ .nav-auto .auto-btn2, #botao3:checked ~ .nav-auto .auto-btn3{
    background-color: #1ba3ec;
}
