#ondinhas {
    position: absolute;
    z-index: 1;
    /*
    width: 100vw;
    height: 300px;
    background: url("/assets/img/gemini2.svg");
    background-repeat: no-repeat;
    background-size: 100% 300px; */
  /* top:0; */
  width: 100vw;
  height: 450px;
  /* border: 2px solid black; */
  /* padding: 25px; */
  background: url("/assets/img/ondinhas_header.svg");
  background-repeat: no-repeat;
  background-size: 100% 450px;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

header {
    position: relative;
    z-index: 2;
}

nav {
    font-size: x-large;    
}


main {
    margin-top: 100px;
    min-height: 33vw; 
}

footer {
    margin: 10px 0 0 0;
    padding: 0 30px;
    text-align: end;
}

#sobre {
    padding: 10px 40px;
    text-align: justify;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 20px;
} 

h1 {
    margin: 0 10px;
    font-size: 0;
}

h2 {
    font-size: xx-large;
}

p {
    font-size: larger;
}

li {
    padding: 10px;
    list-style: none;
}

.navbar {
    display: flex;
}

.link {
    text-decoration: none;
    color:black;
}
.link:visited {
    text-decoration: none;
    color:rgb(33, 32, 32);
}
.link:hover {
    text-decoration: none;
    color: rgb(250, 244, 244);
}

#logo {
    margin: 20px -15px 20px 10px;
    width: 150px;
    max-height: 70px;
}

#logotipo {
    margin: 0px 0px 12px 0px;
    padding-bottom: 30px;
    max-width: 130px;
    max-height: 70px;
}